.bash_profile
.config/user*
.config/gnome*
.config/GNOME*
.config/xdg*
.config/ibus*
.bash_history
.config/pulse*
.ssh
.mozilla
.config/dconf/
.config/dleyna-renderer-service.conf
.config/evolution/
.cache/
.config/.gsd-keyboard.settings-ported
.config/gtk-3.0/
.lesshst
.local/
.bash_logout
.programs
.npm
Downloads/*
